<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?define UpgradeCode = "57b56411-179f-4eff-87a5-dd4972d93654" ?>

    <Product Name='Bootstrap $(var.VERSION)' 
        Id='$(var.PRODUCTGUID)'
        UpgradeCode='$(var.UpgradeCode)'
        Language='1033' Codepage='1252' 
        Version='$(var.VERSION)' Manufacturer='Bootstrap'>

        <Package Id='*' Keywords='Installer'
            InstallScope="perMachine"
            Description="Bootstrap $(var.VERSION) Installer"
            Comments='Windows Install Package' Manufacturer='Bootstrap'
            InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <Upgrade Id="$(var.UpgradeCode)">
            <UpgradeVersion Minimum="0.0.1"
                            IncludeMinimum="yes"
                            OnlyDetect="no"
                            Maximum="$(var.VERSION)"
                            IncludeMaximum="no"
                            Property="PREVIOUSFOUND" />
        </Upgrade>

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />

        <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

        <CustomAction Id="SetPerUserFolder" Property="APPLICATIONFOLDER" Value="[LocalAppDataFolder]Bootstrap" Execute="immediate" />
        <CustomAction Id="SetPerMachineFolder" Property="APPLICATIONFOLDER" Value="[ProgramFilesFolder]Bootstrap" Execute="immediate" />
        <CustomAction Id='PreventDowngrading' Error='Newer version already installed' />

        <InstallExecuteSequence>
            <Custom Action='PreventDowngrading' After='FindRelatedProducts'>NEWPRODUCTFOUND</Custom>
            <RemoveExistingProducts After="InstallInitialize"/>
            <Custom Action="SetPerUserFolder" Before="CostFinalize">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))</Custom>
            <Custom Action="SetPerMachineFolder" After="SetPerUserFolder">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))</Custom>
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action='PreventDowngrading' After='FindRelatedProducts'>NEWPRODUCTFOUND</Custom>
            <Custom Action="SetPerUserFolder" Before="CostFinalize">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))</Custom>
            <Custom Action="SetPerMachineFolder" After="SetPerUserFolder">ACTION="INSTALL" AND APPLICATIONFOLDER="" AND (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))</Custom>
        </InstallUISequence>



        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Bootstrap'>

                    <Component Id='MainExecutable' Guid='*'>
                        <File Id='bootstrap.exe' Name='bootstrap.exe' DiskId='1' Source='../dist/bootstrap.exe' KeyPath='yes' />
                    </Component>

                    <Component Id="UpdatePathUser"
                        Guid="4d286f58-57a4-439d-9f39-f37eddc44b83">
                        <Condition><![CDATA[ ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)) ]]></Condition>
                        <Environment Id="UpdatePathUser" Name="PATH" Action="set"
                        Part="last" Value="[APPLICATIONFOLDER]" System="no" />
                        <RegistryValue Root="HKCU" Key="Software\Bootstrap"
                        Name="UserPathUpdated" Type="integer" Value="1" KeyPath="yes"/>
                    </Component>

                    <Component Id="UpdatePathMachine"
                        Guid="6381cf47-d556-45a6-9a72-8637bfedea7c">
                        <Condition><![CDATA[ ALLUSERS=1 OR (ALLUSERS=2 AND Privileged) ]]></Condition>
                        <Environment Id="UpdatePathMachine" Name="PATH" Action="set"
                        Part="last" Value="[APPLICATIONFOLDER]" System="yes" />
                        <RegistryValue Root="HKLM" Key="Software\Bootstrap"
                        Name="SystemPathUpdated" Type="integer" Value="1" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>

            <!-- <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Foobar 1.0">
                    <Component Id="ProgramMenuDir" Guid="c3d897d2-8f47-4fa1-9c2c-c2893f292afe">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory> -->

            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <Feature Id='Complete' Title='Foobar 1.0' Description='The complete package.'
            Display='expand' Level='1' ConfigurableDirectory='APPLICATIONFOLDER'>
            <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
                <ComponentRef Id='MainExecutable' />
                <ComponentRef Id="UpdatePathUser" />
                <ComponentRef Id="UpdatePathMachine" />
            </Feature>
        </Feature>

        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <WixVariable Id="WixUILicenseRtf" Value="COPYING.rtf" />

        <!-- <Icon Id="Icon" SourceFile="../dist/Bootstrap/Bootstrap.exe" /> -->

    </Product>
</Wix>
